Source: ros-iron-mola-lidar-odometry
Section: misc
Priority: optional
Maintainer: Jose-Luis Blanco-Claraco <joseluisblancoc@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, ros-iron-ament-cmake, ros-iron-ament-cmake-gtest, ros-iron-ament-cmake-gtest <!nocheck>, ros-iron-ament-cmake-xmllint, ros-iron-ament-cmake-xmllint <!nocheck>, ros-iron-ament-lint-auto <!nocheck>, ros-iron-ament-lint-cmake <!nocheck>, ros-iron-mola-common, ros-iron-mola-input-kitti-dataset, ros-iron-mola-input-kitti360-dataset, ros-iron-mola-input-mulran-dataset, ros-iron-mola-input-paris-luco-dataset, ros-iron-mola-input-rawlog, ros-iron-mola-input-rosbag2, ros-iron-mola-kernel, ros-iron-mola-metric-maps <!nocheck>, ros-iron-mola-navstate-fuse, ros-iron-mola-pose-list, ros-iron-mola-test-datasets <!nocheck>, ros-iron-mp2p-icp, ros-iron-mrpt2, ros-iron-ros-environment, ros-iron-rosbag2-storage-mcap <!nocheck>, ros-iron-ros-workspace
Homepage: https://docs.mola-slam.org/
Standards-Version: 3.9.2

Package: ros-iron-mola-lidar-odometry
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-iron-mola-common, ros-iron-mola-input-kitti-dataset, ros-iron-mola-input-kitti360-dataset, ros-iron-mola-input-mulran-dataset, ros-iron-mola-input-paris-luco-dataset, ros-iron-mola-input-rawlog, ros-iron-mola-input-rosbag2, ros-iron-mola-kernel, ros-iron-mola-navstate-fuse, ros-iron-mola-pose-list, ros-iron-mp2p-icp, ros-iron-mrpt2, ros-iron-ros-workspace
Description: LIDAR odometry system based on MOLA and MRPT components
